GOOSE_DRIVER=postgres
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=public.goose_migrations

STORAGE_DATABASE_HOST=host.docker.internal
STORAGE_DATABASE_PORT=5432
STORAGE_DATABASE_USER=
STORAGE_DATABASE_PASS=
STORAGE_DATABASE_DBNAME=calendar

BROKER_HOST=host.docker.internal
BROKER_PORT=5672
BROKER_USER=
BROKER_PASSWORD=
